[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djongo = "==1.3.6"
pymongo = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
