{% extends "base.html" %} {% block content %} {% for item in cart_items %}
<div class="product-details">
  <div class="image">
    <img src="{{ item.product.image.url }}" alt="Product Image" />
  </div>
  <div class="product-content">
    <p><span>Name:</span>{{ item.product.name }}</p>
    <p><span>Author:</span> {{ item.product.author }}</p>
    <p><span>Description:</span> {{ item.product.description }}</p>
    <p><span>Category:</span> {{ item.product.categories.all|join:', ' }}</p>
    <p class="price"><span>Price:</span> {{ item.product.price }}</p>
    <p><span>Quantity:</span> {{ item.quantity }}</p>
    <a href="{% url 'remove_from_cart' item.id %}"><button>Delete</button></a>
  </div>
</div>
{%endfor %} {% endblock content %}
